{{- $raw := .raw -}}
{{- $id := $raw -}}
{{- $src := "" -}}
{{- $start := 0 -}}

{{- if in $raw "://" -}}
  {{- if in $raw "watch?v=" -}}
    {{- $id = replaceRE `^.*[?&]v=([^&]+).*$` `$1` $raw -}}
  {{- else if in $raw "youtu.be/" -}}
    {{- $id = replaceRE `^.*youtu\.be/([^?&/]+).*$` `$1` $raw -}}
  {{- else if in $raw "/shorts/" -}}
    {{- $id = replaceRE `^.*\/shorts\/([^?&/]+).*$` `$1` $raw -}}
  {{- else if in $raw "/embed/" -}}
    {{- $id = replaceRE `^.*\/embed\/([^?&/]+).*$` `$1` $raw -}}
  {{- end -}}
{{- end -}}

{{- $startMatch := findRESubmatch `[?&]start=([0-9]+)` $raw 1 -}}
{{- if gt (len $startMatch) 0 -}}
  {{- $start = int (index (index $startMatch 0) 1) -}}
{{- else -}}
  {{- $tMatch := findRESubmatch `[?&]t=([0-9hms]+)` $raw 1 -}}
  {{- if gt (len $tMatch) 0 -}}
    {{- $tValue := index (index $tMatch 0) 1 -}}
    {{- if gt (len (findRE `^[0-9]+$` $tValue)) 0 -}}
      {{- $start = int $tValue -}}
    {{- else -}}
      {{- $hours := 0 -}}
      {{- $minutes := 0 -}}
      {{- $seconds := 0 -}}
      {{- $hoursMatch := findRESubmatch `([0-9]+)h` $tValue 1 -}}
      {{- $minutesMatch := findRESubmatch `([0-9]+)m` $tValue 1 -}}
      {{- $secondsMatch := findRESubmatch `([0-9]+)s` $tValue 1 -}}
      {{- if gt (len $hoursMatch) 0 -}}
        {{- $hours = int (index (index $hoursMatch 0) 1) -}}
      {{- end -}}
      {{- if gt (len $minutesMatch) 0 -}}
        {{- $minutes = int (index (index $minutesMatch 0) 1) -}}
      {{- end -}}
      {{- if gt (len $secondsMatch) 0 -}}
        {{- $seconds = int (index (index $secondsMatch 0) 1) -}}
      {{- end -}}
      {{- $start = add (add (mul $hours 3600) (mul $minutes 60)) $seconds -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and $id (not (hasPrefix $id "http")) -}}
  {{- $src = printf "https://www.youtube.com/embed/%s" $id -}}
  {{- if gt $start 0 -}}
    {{- $src = printf "%s?start=%d" $src $start -}}
  {{- end -}}
{{- end -}}

{{- return (dict
  "resolvedId" $id
  "start" $start
  "src" $src
) -}}
