<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

{% assign css_version = site.time | date: "%s" %}
{% if site.github and site.github.build_revision %}
  {% assign css_version = site.github.build_revision %}
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ css_version }}">

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
