@charset "utf-8";

.post-title {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-created-date {
  margin-bottom: 1rem;
}

.post-updated-date {
}

.post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
}

.post-content p {
  text-align: left;  /* 왼쪽 정렬 */
  word-wrap: break-word;  /* 단어 단위 줄바꿈 */
  overflow-wrap: break-word;  /* 긴 단어가 있을 경우 줄바꿈 */
  white-space: normal;  /* 기본 줄바꿈 설정 */
  margin-bottom: 30px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-author {
  display: block;
  margin-bottom: 1rem;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
