{{- $src := "" -}}
{{- if .IsNamedParams -}}
  {{- $src = .Get "src" -}}
{{- else -}}
  {{- $src = .Get 0 -}}
{{- end -}}
{{- if not $src -}}
  {{- errorf "applemusic shortcode requires an Apple Music embed src url (%s)" .Position -}}
{{- end -}}
{{- if not (hasPrefix $src "https://embed.music.apple.com/") -}}
  {{- errorf "applemusic shortcode requires an official Apple Music embed src url from Copy Embed Code (%s)" .Position -}}
{{- end -}}
{{- $caption := .Get "caption" -}}
{{- $titles := .Site.Params.socialEmbeds.titles -}}
{{- $title := default "Apple Music 플레이어" $titles.applemusic -}}
{{- if .IsNamedParams -}}
  {{- $title = default $title (.Get "title") -}}
{{- end -}}
{{- $height := cond (or (in $src "/song/") (and (in $src "/album/") (in $src "?i="))) "150px" "450px" -}}
{{- with .Get "height" -}}
  {{- $height = printf "%v" . -}}
{{- end -}}
{{- if gt (len (findRE `^[0-9]+$` $height)) 0 -}}
  {{- $height = printf "%spx" $height -}}
{{- end -}}
<div class="social-embed social-embed--applemusic">
  <div class="social-embed__frame" style="--applemusic-embed-height: {{ $height }};">
    <iframe
      src="{{ $src | safeURL }}"
      title="{{ $title }}"
      loading="lazy"
      allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
      sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation"></iframe>
  </div>
  {{- with $caption }}<p class="embed-caption">{{ . | markdownify }}</p>{{ end -}}
</div>
