{{- $url := "" -}}
{{- if .IsNamedParams -}}
  {{- $url = .Get "url" -}}
{{- else -}}
  {{- $url = .Get 0 -}}
{{- end -}}
{{- if not $url -}}
  {{- errorf "instagram shortcode requires a post/reel url (%s)" .Position -}}
{{- end -}}
{{- if and (in $url "index=") (not (in $url "img_index=")) -}}
  {{- $url = replaceRE `([?&])index=` `${1}img_index=` $url -}}
{{- end -}}
{{- $postType := "p" -}}
{{- if in $url "/reel/" }}{{- $postType = "reel" -}}{{- end -}}
{{- $igCode := replaceRE `^https?://(?:www\.)?instagram\.com/(?:p|reel)/([^/?&#]+).*$` "$1" $url -}}
{{- $imgIndex := "" -}}
{{- if in $url "img_index=" -}}
  {{- $imgIndex = replaceRE `^.*[?&]img_index=(\d+).*$` "$1" $url -}}
{{- end -}}
{{- $embedSrc := printf "https://www.instagram.com/%s/%s/embed/captioned/" $postType $igCode -}}
{{- if $imgIndex -}}
  {{- $embedSrc = printf "%s?img_index=%s" $embedSrc $imgIndex -}}
{{- end -}}
{{- $caption := .Get "caption" -}}
{{- $fallback := .Site.Params.socialEmbeds.fallback -}}
{{- $openLabel := default "Instagram에서 게시물 열기" $fallback.instagramOpen -}}
<div class="social-embed social-embed--instagram">
  <div class="social-embed__script-wrap">
    <iframe
      src="{{ $embedSrc | safeURL }}"
      loading="lazy"
      allowtransparency="true"
      allowfullscreen="true"
      frameborder="0"
      data-pagefind-ignore>
      <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">{{ $openLabel }}</a>
    </iframe>
  </div>
  {{- with $caption }}<p class="embed-caption">{{ . | markdownify }}</p>{{ end -}}
</div>
