{{- $url := "" -}}
{{- if .IsNamedParams -}}
  {{- $url = .Get "url" -}}
{{- else -}}
  {{- $url = .Get 0 -}}
{{- end -}}
{{- if not $url -}}
  {{- errorf "instagram shortcode requires a post/reel url (%s)" .Position -}}
{{- end -}}
{{- $fallback := .Site.Params.socialEmbeds.fallback -}}
{{- $openLabel := default "Instagram에서 게시물 열기" $fallback.instagramOpen -}}
{{- $scriptKey := "social_embed_instagram_script" -}}
{{- $needsScript := not (.Page.Scratch.Get $scriptKey) -}}
{{- if $needsScript }}{{- .Page.Scratch.Set $scriptKey true -}}{{- end -}}
<div class="social-embed social-embed--script social-embed--instagram">
  <div class="social-embed__script-wrap">
    <blockquote class="instagram-media" data-instgrm-permalink="{{ $url }}" data-instgrm-version="14" data-pagefind-ignore style="background:transparent; border:0; margin:0 auto; max-width:620px; width:100%;">
      <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">{{ $openLabel }}</a>
    </blockquote>
  </div>
</div>
{{- if $needsScript -}}
<script async src="https://www.instagram.com/embed.js"></script>
{{- end -}}
