{{- $url := "" -}}
{{- if .IsNamedParams -}}
  {{- $url = .Get "url" -}}
{{- else -}}
  {{- $url = .Get 0 -}}
{{- end -}}
{{- if not $url -}}
  {{- errorf "twitter shortcode requires a tweet url (%s)" .Position -}}
{{- end -}}
{{- $caption := .Get "caption" -}}
{{- $tweetID := replaceRE `^https?://(?:twitter|x)\.com/[^/]+/status/([0-9]+).*$` "$1" $url -}}
<div class="social-embed social-embed--twitter">
  {{- $origin := .Site.BaseURL | strings.TrimSuffix "/" -}}
  <iframe
    src="https://platform.twitter.com/embed/Tweet.html?id={{ $tweetID }}&dnt=true&widgetId=tw-{{ $tweetID }}&origin={{ $origin | urlquery }}"
    title="X (Twitter) 게시물"
    allowfullscreen
    loading="lazy"
    scrolling="no"
    data-tweet-id="{{ $tweetID }}"
    data-pagefind-ignore
  ></iframe>
  {{- with $caption }}<p class="embed-caption">{{ . | markdownify }}</p>{{ end -}}
</div>
