{{- $url := "" -}}
{{- if .IsNamedParams -}}
  {{- $url = .Get "url" -}}
{{- else -}}
  {{- $url = .Get 0 -}}
{{- end -}}
{{- if not $url -}}
  {{- errorf "twitter shortcode requires a tweet url (%s)" .Position -}}
{{- end -}}
{{- $caption := .Get "caption" -}}
{{- $fallback := .Site.Params.socialEmbeds.fallback -}}
{{- $openLabel := default "X에서 게시물 열기" $fallback.twitterOpen -}}
{{- $scriptKey := "social_embed_twitter_script" -}}
{{- $needsScript := not (.Page.Scratch.Get $scriptKey) -}}
{{- if $needsScript }}{{- .Page.Scratch.Set $scriptKey true -}}{{- end -}}
<div class="social-embed social-embed--script social-embed--twitter">
  <div class="social-embed__script-wrap">
    <blockquote class="twitter-tweet" data-pagefind-ignore>
      <a href="{{ $url }}" rel="noopener noreferrer">{{ $openLabel }}</a>
    </blockquote>
  </div>
  {{- with $caption }}<p class="embed-caption">{{ . | markdownify }}</p>{{ end -}}
</div>
{{- if $needsScript -}}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{- end -}}
